# 1. Load metadata

In [1]:
import pandas as pd

columns_to_keep = ['dataSetName', 'strain', 'outbreak', 'suggestedReference']

campy_df = pd.read_csv('data/datasets/datasets/Campylobacter_jejuni_0810PADBR-1.tsv', sep='\t', skiprows=8)
campy_df = campy_df.loc[:, columns_to_keep]
campy_df = campy_df[~campy_df['strain'].isna()]
campy_df

    dataSetName       strain     outbreak  suggestedReference
0   0810PADBR-1        D5663     outgroup               False
1   0810PADBR-1        D7321  0810PADBR-1               False
2   0810PADBR-1        D7331  0810PADBR-1                True
3   0810PADBR-1        D7319  0810PADBR-1               False
4   0810PADBR-1        D7323  0810PADBR-1               False
5   0810PADBR-1        D7327  0810PADBR-1               False
6   0810PADBR-1        D7328  0810PADBR-1               False
7   0810PADBR-1        D7316  0810PADBR-1               False
8   0810PADBR-1        D7322  0810PADBR-1               False
9   0810PADBR-1        D7324  0810PADBR-1               False
10  0810PADBR-1        D7330  0810PADBR-1               False
11  0810PADBR-1        D7333  0810PADBR-1               False
12  0810PADBR-1        D7334  0810PADBR-1               False
13  0810PADBR-1        D7329  0810PADBR-1               False
14  0810PADBR-1        D7320  0810PADBR-1               False
15  0810PADBR-1  PNUSA000194     outgroup               False
16  0810PADBR-1  PNUSA000195     outgroup               False
17  0810PADBR-1  PNUSA000196     outgroup               False
18  0810PADBR-1   2014D-0067     outgroup               False
19  0810PADBR-1   2014D-0070     outgroup               False
20  0810PADBR-1   2014D-0189     outgroup               False
21  0810PADBR-1   2014D-0068     outgroup               False

In [2]:
ecoli_df = pd.read_csv('data/datasets/datasets/Escherichia_coli_1405WAEXK-1.tsv', sep='\t', skiprows=7)
ecoli_df = ecoli_df.loc[:, columns_to_keep]
ecoli_df = ecoli_df[~ecoli_df['strain'].isna()]
ecoli_df

   dataSetName      strain     outbreak  suggestedReference
0  1405WAEXK-1  2011C-3609     outgroup                True
1  1405WAEXK-1  2014C-3598  1405WAEXK-1               False
2  1405WAEXK-1  2014C-3599  1405WAEXK-1               False
3  1405WAEXK-1  2014C-3600  1405WAEXK-1               False
4  1405WAEXK-1  2014C-3656     outgroup               False
5  1405WAEXK-1  2014C-3655     outgroup               False
6  1405WAEXK-1  2014C-3840     outgroup               False
7  1405WAEXK-1  2014C-3857     outgroup               False
8  1405WAEXK-1  2014C-3907     outgroup               False
9  1405WAEXK-1  2014C-3850     outgroup               False

In [3]:
listeria_df = pd.read_csv('data/datasets/datasets/Listeria_monocytogenes_1408MLGX6-3WGS.tsv', sep='\t', skiprows=8)
listeria_df = listeria_df.loc[:, columns_to_keep]
listeria_df = listeria_df[~listeria_df['strain'].isna()]
listeria_df

       dataSetName        strain        outbreak  suggestedReference
0   1408MLGX6-3WGS   CFSAN002349        outgroup               False
1   1408MLGX6-3WGS  PNUSAL000730        outgroup               False
2   1408MLGX6-3WGS  PNUSAL000870  1408MLGX6-3WGS               False
3   1408MLGX6-3WGS   MOD1_LS1004  1408MLGX6-3WGS               False
4   1408MLGX6-3WGS   MOD1_LS1006  1408MLGX6-3WGS               False
5   1408MLGX6-3WGS   MOD1_LS1010  1408MLGX6-3WGS               False
6   1408MLGX6-3WGS    MOD1_LS982  1408MLGX6-3WGS               False
7   1408MLGX6-3WGS    MOD1_LS985  1408MLGX6-3WGS               False
8   1408MLGX6-3WGS    MOD1_LS989  1408MLGX6-3WGS               False
9   1408MLGX6-3WGS    MOD1_LS994  1408MLGX6-3WGS               False
10  1408MLGX6-3WGS    MOD1_LS995  1408MLGX6-3WGS               False
11  1408MLGX6-3WGS    MOD1_LS996  1408MLGX6-3WGS               False
12  1408MLGX6-3WGS    MOD1_LS997  1408MLGX6-3WGS               False
13  1408MLGX6-3WGS    MOD1_LS998  1408MLGX6-3WGS               False
14  1408MLGX6-3WGS   MOD1_LS1000  1408MLGX6-3WGS               False
15  1408MLGX6-3WGS   MOD1_LS1003  1408MLGX6-3WGS               False
16  1408MLGX6-3WGS   MOD1_LS1005  1408MLGX6-3WGS               False
17  1408MLGX6-3WGS   MOD1_LS1008  1408MLGX6-3WGS               False
18  1408MLGX6-3WGS   MOD1_LS1009  1408MLGX6-3WGS               False
19  1408MLGX6-3WGS   MOD1_LS1011  1408MLGX6-3WGS               False
20  1408MLGX6-3WGS   CFSAN023463  1408MLGX6-3WGS                True
21  1408MLGX6-3WGS   CFSAN023464  1408MLGX6-3WGS               False
22  1408MLGX6-3WGS   CFSAN023465  1408MLGX6-3WGS               False
23  1408MLGX6-3WGS   CFSAN023466  1408MLGX6-3WGS               False
24  1408MLGX6-3WGS   CFSAN023467  1408MLGX6-3WGS               False
25  1408MLGX6-3WGS   CFSAN023468  1408MLGX6-3WGS               False
26  1408MLGX6-3WGS   CFSAN023469  1408MLGX6-3WGS               False
27  1408MLGX6-3WGS   CFSAN023470  1408MLGX6-3WGS               False
28  1408MLGX6-3WGS   CFSAN023471  1408MLGX6-3WGS               False
29  1408MLGX6-3WGS  PNUSAL000957        outgroup               False
30  1408MLGX6-3WGS  PNUSAL001024  1408MLGX6-3WGS               False

In [4]:
salmonella_df = pd.read_csv('data/datasets/datasets/Salmonella_enterica_1203NYJAP-1.tsv', sep='\t', skiprows=7)
salmonella_df = salmonella_df.loc[:, columns_to_keep]
salmonella_df = salmonella_df[~salmonella_df['strain'].isna()]
salmonella_df

,dataSetName,strain,outbreak,suggestedReference
0,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000189,outgroup,True
1,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000191,outgroup,False
2,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000211,outgroup,False
3,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000212,outgroup,False
4,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000228,outgroup,False
5,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000661,1203NYJAP-1,False
6,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000669,1203NYJAP-1,False
7,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000700,1203NYJAP-1,False
8,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000752,1203NYJAP-1,False
9,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000753,1203NYJAP-1,False
10,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000951,1203NYJAP-1,False
11,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000952,1203NYJAP-1,False
12,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000954,1203NYJAP-1,False
13,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000958,1203NYJAP-1,False
14,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000960,1203NYJAP-1,False
15,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000961,1203NYJAP-1,False
16,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000963,1203NYJAP-1,False
17,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000968,1203NYJAP-1,False
18,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000970,1203NYJAP-1,False
19,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN001112,1203NYJAP-1,False
20,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN001115,1203NYJAP-1,False
21,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN001118,1203NYJAP-1,False
22,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN001140,1203NYJAP-1,False

In [5]:
metadata_df = pd.concat([campy_df, ecoli_df, listeria_df, salmonella_df])
metadata_df['strain'] = metadata_df['strain'].str.strip()
metadata_df

,dataSetName,strain,outbreak,suggestedReference
0,0810PADBR-1,D5663,outgroup,False
1,0810PADBR-1,D7321,0810PADBR-1,False
2,0810PADBR-1,D7331,0810PADBR-1,True
3,0810PADBR-1,D7319,0810PADBR-1,False
4,0810PADBR-1,D7323,0810PADBR-1,False
...,...,...,...,...
18,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN000970,1203NYJAP-1,False
19,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN001112,1203NYJAP-1,False
20,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN001115,1203NYJAP-1,False
21,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN001118,1203NYJAP-1,False
22,1203NYJAP-1 - Tuna Scrape Outbreak,CFSAN001140,1203NYJAP-1,False

In [6]:
metadata_df.to_csv('metadata.tsv', sep='\t', index=False)

# 2. Create reads input files

In [7]:
from pathlib import Path

input_df = metadata_df.copy()
input_df['Sample'] = input_df['strain']
input_df['Assemblies'] = pd.NA
input_df['Reads1'] = input_df['Sample'].apply(lambda x: str(Path('data') / 'fastq' / (x + '_1.fastq.gz')))
input_df['Reads2'] = input_df['Sample'].apply(lambda x: str(Path('data') / 'fastq' / (x + '_2.fastq.gz')))
input_df = input_df[['Sample', 'Assemblies', 'Reads1', 'Reads2']]
input_df

,Sample,Assemblies,Reads1,Reads2
0,D5663,<NA>,data/fastq/D5663_1.fastq.gz,data/fastq/D5663_2.fastq.gz
1,D7321,<NA>,data/fastq/D7321_1.fastq.gz,data/fastq/D7321_2.fastq.gz
2,D7331,<NA>,data/fastq/D7331_1.fastq.gz,data/fastq/D7331_2.fastq.gz
3,D7319,<NA>,data/fastq/D7319_1.fastq.gz,data/fastq/D7319_2.fastq.gz
4,D7323,<NA>,data/fastq/D7323_1.fastq.gz,data/fastq/D7323_2.fastq.gz
...,...,...,...,...
18,CFSAN000970,<NA>,data/fastq/CFSAN000970_1.fastq.gz,data/fastq/CFSAN000970_2.fastq.gz
19,CFSAN001112,<NA>,data/fastq/CFSAN001112_1.fastq.gz,data/fastq/CFSAN001112_2.fastq.gz
20,CFSAN001115,<NA>,data/fastq/CFSAN001115_1.fastq.gz,data/fastq/CFSAN001115_2.fastq.gz
21,CFSAN001118,<NA>,data/fastq/CFSAN001118_1.fastq.gz,data/fastq/CFSAN001118_2.fastq.gz
22,CFSAN001140,<NA>,data/fastq/CFSAN001140_1.fastq.gz,data/fastq/CFSAN001140_2.fastq.gz

In [8]:
input_df.to_csv('input.tsv', sep='\t', index=False)